
@{
    ViewData["Title"] = "emailVerification";
    Layout = "~/Views/Shared/_LayoutAccout.cshtml";
}

<!-- Nested Row within Card Body -->
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Verify Email</h1>
            </div>
            <div class="user">
                <div class="form-group">
                    <input type="number" id="Code" class="form-control form-control-user" placeholder="Code" required>
                </div>
                @*<a href="index.html" class="btn btn-primary btn-user btn-block">Login</a>*@

                <button id="login" class="btn btn-primary btn-user btn-block" onclick="everif()">Verify Email</button>
            </div>
        </div>
    </div>
</div>


@section script{
    <script src="~/js/Script/Account.js"></script>
}


